@model IEnumerable<FitnessLife.Models.Feedback>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";

    
}
<head>
    <style>
        .table {
            color:white;
        }
    </style>
</head>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Feedbacktext)</th>
            <th>@Html.DisplayNameFor(model => model.Submittedat)</th>
            <th>@Html.DisplayNameFor(model => model.Approved)</th>
            <th>@Html.DisplayNameFor(model => model.Userid)</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Feedbacktext</td>
                    <td>@item.Submittedat</td>
                    <td>@item.Approved</td>
                    <td>@item.Userid</td>
                </tr>
            }
    </tbody>
</table>
