
@model IEnumerable<JoinTaples>
@{
    ViewData["Title"] = "JoinTables";
}

<h1>JoinTables</h1>
<table class="table">
    <theah>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Product Name</th>
            <th>Product Quantity</th>
            <th>Category Name</th>
        </tr>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Customer.Fname</td>
                <td>@item.Customer.Lname</td>
                <td>@item.Product.Namee</td>
                <td>@item.ProductCustomer.Quantity</td>
                <td>@item.Category.CategoryName</td>

            </tr>
            }
        </tbody>        
    </theah>
</table>
